/* --------------------
-----------------------
-----------------------
CSS TABLE OF CONTENTS

# GLOBAL STYLING
    # Global Resets
    # Global Colors
    # Global Typography
# LAYOUT
    # Grid
# STRUCTURE
    # Header
    # Main Sections
    # Footer

-----------------------
-----------------------
-------------------- */

/* GLOBAL STYLING */

/* Global Resets */

/* GLOBAL RESET */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* GLOBAL COLORS */

body {
    color: rgb(255, 255, 255);
}

a {
    color: rgba(0, 175, 193, 1);
}

a:hover {
    color: rgba(0, 51, 153, 1);
}

/* GLOBAL TYPOGRAPHY */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%;
    /* 14px */
    line-height: 1.4;
}


/* SITE STRUCTURE */

header {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

header a:hover {
    color: rgba(255, 255, 255, 1);
}


/* SITE ID */

.site-id h1 {
    margin: 0;
}

/* SITE NAV */

.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
    font-weight: 500;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: scale(1.05);
    }

}

/* BODY */

body {
    background-color: rgb(35, 35, 35);
}

/* HERO SECTION */
.page-home .hero {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 9.5em 1em 8em 1em;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    max-width: 1000px;
    padding: 1em;
}

.hero-eyebrow {
    font-size: clamp(1em, 4vw, 2.5em);
    color: rgb(200, 200, 200);
    font-weight: 500;
    transform: translateX(1%)
}

.hero h2 {
    font-size: clamp(5em, 10vw, 10em);
    line-height: 1;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: swiss721-blk-bt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(230, 230, 230)
}

.hero h3 {
    font-family: swiss721-blk-bt, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hero .hero-subhead {
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
    font-size: clamp(1em, 2vw, 1.75em);
    margin: 0;
    color: rgb(150, 150, 150);
}

.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

[ data-header-style="dynamic"].header {

    background-color: transparent;

}

/* COURSES SECTION */
.courses {
    background-color: rgb(35, 35, 35);
    padding: 3em 1em 4em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: scale(1.025);
    }

}

.courses h3 {
    text-align: center;
    font-size: 2em;
    color: rgb(175 175 175);
    margin-block-end: 0;
    font-family: swiss721-blk-bt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.courses a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9);
    font-family: swiss721-blk-bt, sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block-end: 1em;
    font-size: 1.25em;
}

.courses a:hover {
    color: rgb(255, 255, 255);
}

.courses ul img {
    margin-block-start: 2em;
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    padding: 1em;
}

section {
    padding: 3em 1em;
}

aside {
    padding: 0 1em;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }

    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
        position: sticky;
        top: 0;
        max-height: 100vh;
        overflow-y: auto;
    }
}

html {
    scroll-behavior: smooth;
}

.two-col-sidebar {

    display: grid;

    a {
        color: rgb(255, 255, 255, 0.6);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.aside {
    background-color: rgba(0, 0, 0, .05);
    padding: 1em;
}


/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* SUBPAGE STYLES */

.page-sub-hero {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 4em 1em 5em 1em;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-sub-hero h2 {
    font-size: clamp(5em, 10vw, 10em);
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: swiss721-blk-bt, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(230, 230, 230)
}

.page-sub-hero .page-sub-hero-subhead {
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
    font-size: clamp(0.85em, 2vw, 1.5em);
    margin: 0;
    color: rgb(150, 150, 150);
    margin-block-start: 0;
    padding: 0;
}

.page-sub-hero h3 {
    font-family: swiss721-blk-bt, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* COURSEWORK STYLE */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(35, 35, 35);
    color: rgb(150, 150, 150);

    .project h2 {
        font-family: swiss721-blk-bt, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5em;
        text-align: center;
    }

    .project {
        margin: 1.5em;
    }

    .project li a {
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            color: rgb(255, 255, 255);
        }

    }

    .project li {
        margin-block: 0.5em;
        font-family: swiss721-blk-bt, sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    ul {
        list-style-type: none;
    }

}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid rgb(45, 45, 45);
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;

    a {
        color: rgb(255, 255, 255, 0.6);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

}

.markup-box {
    border: 1px solid rgb(45, 45, 45);
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    padding: 1em 3em;
    margin-bottom: 1em;

    a {
        color: rgb(255, 255, 255, 0.6);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}

dd {
    margin: 0;
}

/* FOOTER STYLING */

.site-footer {
    padding: 2em 0;
    background-color: rgb(25, 25, 25);
    ;
}

.social-nav {

    display: flex;
    justify-content: right;
    gap: 2em;
    padding-inline: 2em;

    a {

        color: rgb(255, 255, 255);
        opacity: 0.85;
        transition: transform 0.2s ease-out;
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            opacity: 1;
            transform: scale(1.2);
        }

    }

    img {
        display: block;
    }

    h1 {
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

}