/* --------------------
-----------------------
-----------------------
CSS TABLE OF CONTENTS

# GLOBAL STYLING
    # Global Resets
    # Global Colors
    # Global Typography
# LAYOUT
    # Grid
# STRUCTURE
    # Header
    # Main Sections
    # Footer

-----------------------
-----------------------
-------------------- */

/* GLOBAL STYLING */

/* Global Resets */

/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 0, 0, 0.8); }
a { color: rgba(0, 175, 193, 1); }
a:hover { color: rgba(0, 51, 153, 1); }

/* GLOBAL TYPOGRAPHY */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 88.75%; /* 14px */
  line-height: 1.4;
}


/* SITE STRUCTURE */

header {
    background-color: rgba(0, 175, 193, 1);
    color: rgba(0, 0, 0, 0.8); 
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

header a:hover {
    color: rgba(255, 255, 255, 1);
}


/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav  a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background: rgba(0, 175, 193, 0.05);
}

/* HERO SECTION */
.hero {
    background-color: rgba(0, 175, 193, 1);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
}


/* FOOTER */
footer {
    border-top: 1px solid rgba(0 0 0 / .05);
    padding: 1em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

section {
    padding: 3em 1em;
}

aside {
    padding: 0 1em;
  }

  @media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
        position: sticky;
        top: 0;
        max-height: 100vh;
        overflow-y: auto;
    }
}

html {
  scroll-behavior: smooth;
}

.two-col-sidebar {
    display: grid;
}

.aside {
    background-color: rgba(0,0,0,.05);
    padding: 1em;
}


/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav  a {
    display: block;
    padding: 1em;
}

/* SUBPAGE STYLES */

.page-sub .hero {
    background-color: rgba(0, 175, 193, 0.1);
    color: rgba(0,0,0,.8);
}

/* COURSEWORK STYLE */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}

/* CUSTOM HOME PAGE STYLING */
.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.page-home .hero {
    background-image: url('../img/aquarium.jpg');
    background-position: center top;
    background-size: cover;
    padding: 30vh 1em 20vh 1em;
    background-color: rgba(0, 79, 88, 0.25);
    background-blend-mode: overlay;
}

/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */