<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Modified Found Toggle Tabs Web Component Test from Chris Ferdinandi</title>
    <link rel="stylesheet" href="toggle-tabs.css">

  </head>
    
  <body>
  <h1>Modified Found Toggle Tabs Web Component Test from Chris Ferdinandi</h1>
<p>Found source: <a href="https://gomakethings.com/snippets/web-components/toggle-tabs/">https://gomakethings.com/snippets/web-components/toggle-tabs/</a></p>

<!-- Toggle Tabs Web Component from Chris Ferdinandi: https://gomakethings.com/snippets/web-components/toggle-tabs/ -->
<toggle-tabs>
	<ul tabs> 
		<li><a href="#wizard">Wizard</a></li>
		<li><a href="#sorcerer">Sorcerer</a></li>
		<li><a href="#druid">Druid</a></li>
	</ul>

	<div id="wizard">
		Wizards gain their magic through study...
	</div>

	<div id="sorcerer">
		Sorcerers get their power from an otherworldly being...
	</div>

	<div id="druid">
		Druids get their power from nature.
	</div>
</toggle-tabs>
    <script  src="toggle-tabs.js"></script>

  </body>
  
</html>
